* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

section {
  float: left;
}

section > div {
  border: solid 1px black;
  margin: 10px;
  position: relative;
  background-color: #cccccc;
}

div > div {
  position: absolute;
  top: -1px;
  right: -1px;
  border: solid 1px black;
  padding : 5px;
  width: 100px;
  text-align: center;
}

#chickenHeader {
  background-color: #fff0ba;
}

#beefHeader {
  background-color: #e05033;
  color: white;
}

#sushiHeader {
  background-color: #bfe9ef;
}

ul {
  margin: 40px 10px 10px 10px;
  list-style-type: none;
}

@media (min-width: 992px) {
  #chicken {
    width: 33.33%
  }
  #beef {
    width: 33.33%
  }
  #sushi {
    width: 33.33%
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  #chicken {   
    width: 50% 
  }
  #beef {
    width: 50%
  }
  #sushi {
    width: 100%
  }
}

@media (max-width: 767px) {
  #chicken {
    width: 100%
  }
  #beef {
    width: 100%
  }
  #sushi {
    width: 100%
  }
}
