* {
  box-sizing: border-box;
}

section {
  float: left;
}

section > div {
  border: solid 1px black;
  margin: 10px;
  position: relative;
}

h2 {
  position: absolute;
  top: 0px;
  right: 0px;
  border: solid 1px black;
}

p {
  margin-top: 30px;
}

@media (min-width: 992px) {
  #chicken {
    width: 33.33%
  }
  #beef {
    width: 33.33%
  }
  #sushi {
    width: 33.33%
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  #chicken {   
    width: 50% 
  }
  #beef {
    width: 50%
  }
  #sushi {
    width: 100%
  }
}

@media (max-width: 767px) {
  #chicken {
    width: 100%
  }
  #beef {
    width: 100%
  }
  #sushi {
    width: 100%
  }
}
